<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Input your name</h1>
    <form method="post" action="login">
      Name : <input type="text" name="name">
    </form>
  </body>
</html>
